#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000; /* Plain background color */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  flex-direction: column;
  opacity: 1; /* Ensure it's visible initially */
  pointer-events: all; /* Ensure it blocks interaction initially */
}

#loading-line {
  width: 0%; /* Will be animated by GSAP */
  height: 2px; /* Thickness of the line */
  background-color: #fff;
  position: absolute;
  bottom: 50%; /* Center vertically, adjust if needed */
  left: 0;
  z-index: 10000;
}
