body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #050505;
}
#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 9999;
}

#loading-water {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #001e0f;
  transition: height 0.5s ease;
}

#loading-text {
  color: #fff;
  font-size: 2em;
  z-index: 1;
}
